body{
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    /* background-image: url("/projet_tutore/photo/pro.jpg"); */
    background-color: rgb(182, 180, 180);
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
  
    
               
}
.containeur_form{
    max-width: 400px;
    margin: 20px auto;
    padding:20px;
    background-color: rgba(255, 255, 255);    
    border-radius:10px;
    box-shadow: 0 0 15px;
    text-align: center;
}

.group_form{
    margin-bottom: 20px;
}

.group_form label{
    display: block;
    margin-bottom:5px;
    color: black;
    text-align: left;
    margin-left: 6.5%;

}

.group_form select,.group_form input[type="text"],.group_form input[type="number"],.group_form input[type="date"]{
    width: 85%;
    padding:10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline-color: #0073e6;
   
}

.categorie_selection{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
label{
    color: #fff;
}
option{
    color: #292727;
}


.bouton_submit{
    background-color: rgba(10, 165, 255, 0.815);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    margin-left: 6.5%;

}

button:hover{
    background:#007bff;
}